<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Evry_Creditlimit::creditlimit" title="Credit Limit Usage" module="Evry_Creditlimit" sortOrder="30" resource="Evry_Creditlimit::bulkenquiry" action="creditlimit/creditlimit"/>
   	</menu>
</config>