<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="creditlimit" frontName="creditlimit">
            <module name="Evry_Creditlimit" before="Evry_Creditlimit" />
        </route>
    </router>
</config>