<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="evry" translate="label" sortOrder="500">
            <label>Evry India</label>
        </tab>         
        <section id="credit_limit" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Credit Limit Settings</label>
            <tab>evry</tab>
            <resource>Evry_Creditlimit::configurations</resource>
            <group id="creditlimit_settings" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Limit</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Credit Limit Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="limit" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Limit</label>
                    <comment>Default Credit Limit for the Customers</comment>
                </field>
               
            </group>
           
        </section>
    </system>
</config>
